################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SignalRChat
/bin/Debug/net8.0
/node_modules
/obj
/.vs
